.header{
	text-align: center;
	background-image: url(http://www.loyno.edu/img/landingpages/CampusLife_01_fade.jpg);
	background-repeat: no-repeat;
	padding-bottom: 18%;
	margin-top: 1%;
	height: 100%;
	color: white;
	
}

#title{
	padding: 10px;
	text-decoration: bold;
	text-align: left;
	padding-right: 37%;
	color:white;

}

#title_subheading{
	padding: 2%;
	font-size: 24px;
}

.searchbar{
	margin-bottom: ;
	margin-top: 5%;
	padding-right: 5%;
}

.search {
	margin-top: 5%;
}

.navbar{
	background:linear-gradient(#8E0E00, #93291E);
}
.login{
	background:white;
}

.profbtn, .classesbtn, .ratingbtn {
	border-radius: 90%;
	border: none;
    color: maroon;
    padding: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}
.w3-modal{
}

.featured{
	padding-bottom: 2%;
	background-color: black;
}

h4 {
	margin-bottom: 45%;
	text-align: center;
	padding-top: 3%;
}
.featprof {
	background-image: url(http://apply.loyno.edu/sites/apply.loyno.edu/files/loyno_life_gallery/music-education.jpg);
	color:white;
}



.featprofbtn{
	text-align: center;
	border-radius: 40%;
	padding: 2%;
	margin-left: 38%;
	margin-bottom: 15%;
}
.featclass {
	background-color: blue;
}
.featclassbtn{
	text-align: center;
	border-radius: 40%;
	padding: 2%;
	margin-left: 36%;
	margin-bottom: 15%;
}

.news {
	text-align: center;
	font-size: 30px;
	padding: 10%;
	background-image: url("news-pic.png");	

}
.whattotake{
	background-color: yellow;
}
h5 {
	text-align: center;
	font-size: 30px;
	padding: 3%;
	text-decoration: bold;
}

.top3{
	background-color: black;
}
h6{
	text-align: center;
	font-size: 24px;
	padding: 3%;
}
.takeclass{
	background-color: blue;
}
.take {
	text-align: center;
	padding-bottom: 5%;
}
.avoidclass{
	background-color: red;
}
.avoid {
	text-align: center;
	padding-bottom: 5%;
}

/*Table Page*/

.prof-table{
	padding: 5%;
	font-size: 34px;
	text-align: center;
	text-decoration: bold;
	background-color: dodgerblue;
}

.table{
	margin-bottom: 5%;
	padding-top: 3%;
	padding-right: 2%;
	padding-left: 2%;
	border-bottom-style: solid;
	border-color: black;
	background-color: grey;
}

.major-class{
	padding-top: 5%;
	padding-bottom: 5%;
}

.rating-prof {
	font-size: 54px;
	padding-left: 8%;
	padding-top: 40%;
	padding-right: 7%;
	padding-bottom: 40%;

}
.rating10{
	margin-right: 5%;
	margin-left: 5%;
}

.professor-description {
	
}

.prof-name{
	text-align: left;

}

.prof-major{
	font-size: 20px;
	padding-top: 3%;
	padding-left: 4%;
}
.prof-classes{
	font-size: 20px;
	padding-top: 3%;
	padding-left: 4%;
}

.prof-descrip{
	text-align: left;
}
h1{
	text-align: left;
}
