.header{
	text-align: center;
	background-image: url(http://www.loyno.edu/img/landingpages/CampusLife_01_fade.jpg);
	background-repeat: no-repeat;
	border-top: solid grey;
	height: 100%;
	color: white;
	background-size: 1440px
	
}

#title{
	padding: 10px;
	text-decoration: bold;
	text-align: left;
	color:white;
}

#title_subheading{
	padding: 2%;
	font-size: 24px;
}

.searchbar{
/*	margin-bottom: ;
*/	margin-top: 5%;
	padding-right: 5%;
}

.search {
	margin-top: 5%;
}

.navbar{
	background:linear-gradient(#8E0E00, #93291E);
}
.login{
	background:white;
}

.profbtn, .classesbtn, .ratingbtn {
	border-radius: 90%;
	border: solid black;
    color: maroon;
    padding: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

.featuredobjects{
		background-color: #dbb800;
	margin:3px;
}



.featured{
	padding-bottom: 2%;
	background-color: white;
}

h3 {
	margin-bottom: 45%;
	padding-bottom: 10px;
	text-align: center;
	padding-top: 3%;
	background: rgba(223, 153, 0, .5);
	font-family: "PMNCaeciliaW01-45Light"
}

.modalText{
	color:black;
}
.featprof {
	background-image: url(http://apply.loyno.edu/sites/apply.loyno.edu/files/loyno_life_gallery/music-education.jpg);
	color:white;
	background-size: 705px 430px;
}

.featprofbtn{
	text-align: center;
	border-radius: 40%;
	padding: 2%;
	margin-left: 38%;
	margin-bottom: 10%;
}
.featclass {
	background-image: url(http://wooderice.com/wp-content/uploads/2014/08/college2.jpg);
	color: white;
	background-size: 705px 430px;
}
.featclassbtn{
	text-align: center;
	border-radius: 40%;
	padding: 2%;
	margin-left: 36%;
	margin-bottom: 10%;
}

.news {
	text-align: center;
	font-size: 30px;
	padding: 8%;
	margin-top: ;
	background-image: url(http://cas.loyno.edu/sites/cas.loyno.edu/files/styles/header-lg/public/header_images/maria-celeste-arraras-loyola-university-new-orleans.jpg?itok=KdPrGIeU);	
	background-repeat: no-repeat;
	background-position: center;
	color:white;
}
.whattotake{
	background-color: #dbb800;
	margin:3px;
}
h5 {
	text-align: center;
	font-size: 30px;
	padding: 3%;
	text-decoration: bold;
}

.top3{
	background-color:   #9b0000;
}
h6{
	text-align: center;
	font-size: 24px;
	padding: 3%;
}
.takeclass{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c9/Outdoor_Classes_%283944501231%29.jpg);
	background-size: 705px 268px;
	color: white;
}
.take {
	text-align: center;
	padding-bottom: 5%;
}
.avoidclass{
	background-image: url(https://dailyillini.com/wp-content/uploads/2016/10/A4_Editorial-1-900x600.jpg);
	background-size: 705px 269px;
	color:white;
}
.avoid {
	text-align: center;
	padding-bottom: 5%;
	color:white;
}
.sponsor{
	background:linear-gradient(#8E0E00, #93291E);
	text-align:center;
	color:white;
	height: 25px
}

/*Table Page*/

.prof-table{
	padding: 5%;
	font-size: 34px;
	text-align: center;
	text-decoration: bold;
	background:linear-gradient(#8E0E00, #93291E);
}

.table{
	margin-bottom: 5%;
	padding-top: 3%;
	padding-right: 2%;
	padding-left: 2%;
	border-bottom-style: solid;
	border-color: black;
	background-color: lightgrey;
}

.major-class{
	padding-top: 5%;
	padding-bottom: 5%;
}

.rating-prof {
	font-size: 54px;
	padding-left: 8%;
	padding-top: 40%;
	padding-right: 7%;
	padding-bottom: 40%;

}
.rating10{
	margin-right: 5%;
	margin-left: 5%;
}

.professor-description {
	
}

.prof-name{
	text-align: left;

}

.prof-major{
	font-size: 20px;
	padding-top: 3%;
	padding-left: 4%;
}
.prof-classes{
	font-size: 20px;
	padding-top: 3%;
	padding-left: 4%;
}

.prof-descrip{
	text-align: left;
}
h1{
	text-align: left;
}
